.card
  .card-body.card-header.border-left-yellow
    .card-title
      Detalhamento
  .card-body      
    .index_ticket_category_step
      = render 'attendance/ticket_category_steps/index'
    
        