#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Voltar para listagem", attendance.ticket_categories_path
      %hr.divider
      = link_to "Gestão de tipos de documento", attendance.document_types_path