.card
  .card-body.card-header.border-left-yellow
    .card-title
      Detalhamento
  .card-body      
    %h5 
      %b #{@ticket_category.name}
    .index_ticket_category_term
      = render 'attendance/ticket_category_terms/index'
    .index_ticket_category_step
      = render 'attendance/ticket_category_steps/index'
    
        