- if @enterprise_company_user.errors.any?
  $("#modal .modal-body").html("#{escape_javascript(render 'form')}");

- else
  $(".index-content").html("#{escape_javascript(render 'index')}");
  $(".row-enterprise_company_user-#{@enterprise_company_user.id}").addClass('table-success');
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");

update_js();
