- if @user.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index-content").html("#{escape_javascript(render 'index')}");
  $(".row-type-#{@user.id}").addClass('table-success');

update_js();
