= simple_form_for @member_job, remote: true do |f|
  .row
    .col-12
      = f.input :name, placeholder: 'Informe o nome da situação'
  .row
    .col-4
      = f.input :status, as: :select, include_blank: false
  .divider
  .row
    .col-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}