#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar cargo", entity.new_member_job_path, remote: true
      %hr.divider
      = link_to "Gestão de entidades", entity.cadastres_path
      = link_to "Gestão de situações", entity.cadastre_situations_path