- if @page_user.errors.any?
  $("#modal .modal-body").html("#{escape_javascript(render 'form')}");

- else
  $(".index_page_users").html("#{escape_javascript(render 'index')}");
  $(".row-page-user-#{@page_user.id}").addClass('table-success');
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");

update_js();
