- if @invoice.errors.any?
  $("#modal").html("#{escape_javascript(render 'form')}");
  updateJs();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  updateJs();
