- if @job.errors.any?
  $("#modal .modal-body").html("#{escape_javascript(render 'form')}");
  update_js();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index_type_subjects").html("#{escape_javascript(render 'pivotal/jobs/index')}");
  $(".row-job-#{@job.id}").addClass('table-success');
  update_js();
