#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar categoria de menu", cms.new_nav_category_path, remote: true
      %hr/
      = link_to "Gestão de menu", cms.navs_path
      = link_to "Gestão de tipos",cms.nav_category_types_path

      