.modal-dialog
  .modal-content
    .modal-header
      %h5.modal-title Atualizar lote
      %a.close{ "data-dismiss": 'modal', "aria-label": "Close"}
        %i.fa.fa-close
    .modal-body
      = render 'form'
