#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar convocação", candidate.new_convocation_path, remote: true
      %hr.divider
      = link_to "Voltar para pesquisa geral", root_path
