- if @daily_preferential_type.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  update_js();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index-content").html("#{escape_javascript(render 'attendance/daily_preferential_types/index')}");
  $(".row-preferential-#{@daily_preferential_type.id}").addClass('table-success');

  update_js();
