= simple_form_for [@allotment, @exemption_file], remote: true, multipart: true do |f|
  .row
    .col-md-12
      = f.input :attachment, as: :file
  %hr
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
