= simple_form_for @step, remote: true do |f|
  = f.input :name, placeholder: 'Digite um etapa'
  = f.input :status, as: :select, include_blank: 'selecione...'
  = f.button :submit, class: 'btn btn-success'
