- if @unit_cadastre_situation.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  update_js();
- else
  $(".index-content").html("#{escape_javascript(render 'index')}");
  $(".row-type-#{@unit_cadastre_situation.id}").addClass('table-success');
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");

  update_js();
