= simple_form_for [@instancy, @instancy_place], remote: true do |f|
  = f.input :name, placeholder: 'Digite o local de instância'
  = f.input :status, as: :select, include_blank: 'selecione...'
  = f.button :submit, class: 'btn btn-success'
