- if @daily.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  update_js();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index-content").html("#{escape_javascript(render 'attendance/dailies/index')}");
  $(".row-daily-#{@daily.id}").addClass('table-success');

  update_js();
