- if @situation_type.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  updateJs();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index-content").html("#{escape_javascript(render 'attendance/ticket_situation_types/index')}");
  $(".row-situation-#{@situation_type.id}").addClass('table-success');

  updateJs();
