.row
  .col-md-12
    %h6 Termos
    = link_to "+ Adicionar termo", new_ticket_category_ticket_category_term_path(@ticket_category), remote: true, class: 'link'
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Termo
          %th
      %tbody
        - if @ticket_category.ticket_category_terms.present?
          -@ticket_category.ticket_category_terms.each do |ticket_term|
            %tr{class: "row-ticket-term-#{ticket_term.id}"}
              %td= link_to ticket_term.term.title, term_path(ticket_term.term_id), remote: true
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Excluir", ticket_category_ticket_category_term_path(@ticket_category, ticket_term), method: :delete, class: 'dropdown-item', data: {confirm: t(:confirm)}, remote: true
                
        - else
          %tr
            %td{colspan: 6}
              %i Nenhum tipo de atendimento registrado.