= simple_form_for @attendant_type, remote: true do |f|
  .row
    .col-12
      = f.input :name, placeholder: 'Digite o tipo de atendente'
  .row
    .col-4
      = f.input :status, as: :select, include_blank: 'selecione...'
  .divider
  .row
    .col-4
      = f.button :submit, class: 'btn btn-success'