= simple_form_for @ticket_activity, url: ticket_activities_path(@ticket), method: :post, remote: true do |f|
  = f.input :content, label: false, placeholder: "Informe sua interação", as: :text, input_html: { rows: 4, id: "content"}
  = f.input :document, label: false, as: :file
  = f.submit "Adicionar interação", class: 'btn btn-success btn-block'