%h6
  %b Interações (#{@ticket.ticket_activities.count})

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.collapsing Data/Hora
      %th Conteúdo
      %th
  %tbody
    %tr
      %td{colspan: 3}
        %i Nenhuma interação registrada.