- if @ticket_activity.errors.any?
  $(".ticket-activity-form").html("#{escape_javascript(render 'helpdesk/ticket_activities/form')}");
- else
  $(".ticket-activity-content").html("#{escape_javascript(render 'helpdesk/ticket_activities/index')}");
  $(".ticket-activity-form").html("#{escape_javascript(render 'helpdesk/ticket_activities/form')}");
