#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar tipo de categoria", cms.new_nav_category_type_path, remote: true
      %hr/
      = link_to "Gestão de menus",cms.navs_path
      = link_to "Gestão de categorias",cms.nav_categories_path