%table.table.table-bordered
  %thead
    %tr
      %th.collapsing Protocolo
      %th.collapsing Data/Hora
      %th.collapsing Tipo
      %th Assunto
      %th Solicitante
      %th.collapsing
  %tbody
    %tr
      %td{colspan: 6}
        %i Nenhum chamado registrado.