.card
  .card-heading.border.custom-border-left
    .card-title Chamados      
  .card-block
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Nº
          %th Data/Hora
          %th Tipo
          %th Assunto
          %th Solicitante
          %th
      %tbody
        %tr
          %td.collapsing 01
          %td.collapsing 01/01/2019 08:00
          %td.collapsing Sistemas
          %td
          %td
          %td.collapsing
            .dropdown
              %button.btn.btn-success.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %i.fa.fa-cog
                %i.ti-angle-down
              .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                %a.dropdown-item{:href => "#"} Detalhar
                %a.dropdown-item{:href => "#"} Atualizar
                %a.dropdown-item{:href => "#"} Finalizar
                %a.dropdown-item{:href => "#"} Cancelar
        %tr
          %td{colspan: 6}
            %i Nenhum chamado registrado.