#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar categoria", attendance.new_requeriment_category_path, class: 'filter-nav-item', remote: true
      %hr/
      = link_to "Gestão de requerimentos", attendance.requeriments_path, class: 'filter-nav-item'
      