.card
  .card-body.card-header.border-left-yellow
    .card-title
      Engine: #{@engine.name}   
  .card-body      
    .index_engine_permission
      = render 'pivotal/engine_permissions/index'
        