
.card
  .card-body.card-header.border-left-yellow
    .card-title 
      = link_to "javascript:void(0)", class: "collapsing-content-link" do
        6. Histórico cadastral (0)
  .card-body{style: 'display: none'}
    .row
      .col-12
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th ID
              %th Nome
              %th CPF
              %th RG
              %th Dt. Nascimento
          %tbody
            - @cadastre.cadastre_mirrors.order(created_at: :desc).each do |cadastre_mirror|
              %tr
                %td