
.card
  .card-body.card-header.border-left-yellow
    .card-title 
      %a.collapsing-content-link{href:"javascript:void(0)"}
        15. Notificação (0)
  .card-body{style: 'display: none'}
    .row
      .col-12
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th ID
              %th Nome
              %th CPF
              %th RG
              %th Dt. Nascimento