
.card
  .card-body.card-header.border-left-yellow
    .card-title 
      = link_to "javascript:void(0)", class: "collapsing-content-link" do
        5. Ocorrência (0)
  .card-body{style: 'display: none'}
    .row
      .col-12
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th ID
              %th Nome
              %th CPF
              %th RG
              %th Dt. Nascimento