= simple_form_for @ticket_type, remote: true do |f|
  = f.input :name, placeholder: 'Informe o nome do tipo'
  = f.input :status, as: :select, include_blank: t(:include_blank)
  .divider-sm
  = f.button :submit, class: 'btn btn-success' 