#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar novo tipo", helpdesk.new_ticket_type_path, remote: true
      = link_to "Gestão de chamados", helpdesk.tickets_path                