#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar novo tipo", helpdesk.new_ticket_type_path, remote: true, data: { disable_with: t(:disable_with) }
      %hr.divider
      = link_to "Gestão de chamados", helpdesk.tickets_path, data: { disable_with: t(:disable_with) }                
      = link_to "Gestão de locais", helpdesk.ticket_locations_path, data: { disable_with: t(:disable_with) }                