.card
  .card-heading.custom-border-left
    .card-title Tipo: #{@ticket_type.name}      
  .card-block
    .index_type_subjects
      = render 'helpdesk/ticket_type_subjects/index'
    .divider
    .index_type_users
      = render 'helpdesk/ticket_type_users/index'
    