.card.filter-sidebar

  #card
    .card-heading.border.custom-border-left
      .card-title 
        Menu rápido
        = link_to "javascript:void(0)", class: "float-right arrow-collapsing" do
          %i.fa.fa-minus            
    .card-block
      .row
        .col-md-12        
          %ul
            %li
              %span= link_to "Voltar para listagem", helpdesk.ticket_types_path, class: 'filter-nav-item'
            %li.divider
            %li
              %span= link_to "Gestão de chamados", helpdesk.ticket_types_path, class: 'filter-nav-item'
          
  
