.fluid-container
  .row
    .col-md-12
      .card
        .card-block.custom-border-left
          .title 
            Helpdesk
            .subtitle Detalhamento de tipo
  .row
    .col-md-2.show-sidebar
      = render 'show_sidebar'
    .col-md-10.show-content
      = render 'show'
