.fluid-container
  .row
    .col-md-12
      .card
        .card-block.custom-border-left
          .title
            CPL
            .subtitle Tipo de Documentos
  .row
    .col-md-2.index-sidebar
      = render 'index_sidebar'
    .col-md-10.index-content
      = render 'index'
