- if @sector.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  updateJs();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index-content").html("#{escape_javascript(render 'person/sectors/index')}");
  $(".row-sector-#{@sector.id}").addClass('table-success');

  updateJs();
