- if @eventual.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index-content").html("#{escape_javascript(render 'attendance/eventual_cadastres/index')}");
  $(".row-#{@eventual.id}").addClass('table-success');

update_js();
