.fluid-container
  .row.mt-4
    .col-md-12
      .card#header.border-left-yellow
        .card-body
          .title Comunicação
          .subtitle Editar Postagens
  .row.mt-4
    .col-md-2.index-sidebar
      = render 'new_sidebar'
    .col-md-10.index-content
      = render 'new'

