%h6
  = link_to "<i class='fa fa-plus'></i>".html_safe, entity.new_cadastre_member_path(@entity), remote: true  
  Atividades
%table.table.table-bordered.table-striped.table-celled
  %thead
    %tr
      %th Telefone
      %th Telefone (secundário)
      %th Celular
      %th Email
  %tbody
