- if @booking.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  update_js();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".show-content").html("#{escape_javascript(render 'address/units/show')}");
