.modal-dialog
  .modal-content
    .modal-header
      %h5.modal-title Permissões (Menus)
      %a.close
        %i.fas.fa-times
    .modal-body
      %table.table.table-striped.table-celled.table-bordered
        %thead
        %tbody