- if @exemption.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  updateJs();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index-content").html("#{escape_javascript(render 'index')}");

  updateJs();
