.modal-dialog
  .modal-content
    .modal-header
      %a.close
        %i.fa.fa-close
    .modal-body.text-center
      = image_tag 'alert.png', width: '180'
      .mt-5
      %h4
        %b Ops... Você não possui permissão para realizar esta operação.