- if @invoice_type.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  updateJs();
- else
  $(".index-content").html("#{escape_javascript(render 'index')}");
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");

  updateJs();
