%table.table.table-striped.table-celled.table-bordered
  %thead
    %tr.dark
      %th Grupo de permissões
      %th Permissôes
  %tbody
    - if @permission_groups.where(group_type: 1).present?
      - @permission_groups.where(group_type: 1).order(:name).each do |permission_group|
        %tr
          %td= permission_group.name
          %td.collapsing
            - if @user.permission_group_users.where(group_id: permission_group.id).present?
              = link_to "<i class='fa fa-circle' style='color: #068840'></i>".html_safe, pivotal.user_user_group_permission_engine_path(id: permission_group.id), method: :delete, remote: true, class: 'btn-icon bookmark-link' 
            - else
              = link_to "<i class='fa fa-circle'></i>".html_safe, pivotal.new_user_user_group_permission_engine_path(group_permission_id: permission_group.id), remote: true, class: 'btn-icon bookmark-link' 
            
    - else
      %tr
        %td{colspan: 2}
          %i Nenhum grupo registrado.