.index_show_document
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Documentos
        %a.close
          %i.fas.fa-times
      .modal-body
        = render 'attendance/step_documents/form'
        = render 'attendance/step_documents/index'
        