.card
  .card-body.card-header.border-left-yellow
    .card-title
      -if @station.status == true
        %i.fa.fa-circle{style: "color: #068840"}
      -else
        %i.fa.fa-circle
      %b
        = @station.name
      =@station.description
  .card-body      
    .index_attendant_stations
      = render 'attendance/attendant_stations/index'
        