- if @password.errors.any?
  $("#modal").html("#{escape_javascript(render 'edit')}");
  updateJs();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  updateJs();