- if @password.errors.any?
  $("#modal").html("#{escape_javascript(render 'edit')}");
  update_js();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  update_js();