- if @notifier.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".row-type-#{@notifier.id}").addClass('table-success');
  $(".index-content").html("#{escape_javascript(render 'index')}");
update_js();
