.index-permission
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Permissões (Menus)
        %a.close
          %i.fas.fa-times
      .modal-body
        = render 'pivotal/user_group_permission_navs/index'
        = render 'pivotal/navs/show'
     