- if @<%= @model_name %>.errors.any?
  $("#modal .modal-body").html("#{escape_javascript(render 'form')}");

- else
  $(".index-content").html("#{escape_javascript(render 'index')}");
  $(".row-<%= @model_name %>-#{@<%= @model_name %>.id}").addClass('table-success');
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");

update_js();
