.modal-dialog
  .modal-content
    .modal-header
      %h5.modal-title Novo tipo de solicitação
      %a.close{ "data-dismiss": 'modal', "aria-label": "Close"}
        %i.fas.fa-times
    .modal-body
      = render 'form'
