- if @request_type.errors.any?
  $("#modal").html("#{escape_javascript(render 'new')}");
  update_js();
- else
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");
  $(".index-content").html("#{escape_javascript(render 'index')}");

  update_js();
