.fluid-container
  .row.mt-4
    .col-md-12
      .card#header.border-left-yellow
        .card-body
          .title Candidato
          .subtitle Tipo de situação
  .row.mt-4
    .col-md-2.index-sidebar
      = render 'index_sidebar'
    .col-md-10.index-content
      = render 'index'

