.btn-success {
  background-color: #f6cb0e;
  border-color: #f1c400;
  color: #404040;
}

.btn-success:hover, .btn-success:focus {
  background-color: #f6cb0e;
  border-color: #f6cb0e;
  color: #404040;
}


.show > .dropdown-toggle.btn-success:hover, .show > .dropdown-toggle.btn-success:focus {
  background-color: #f6cb0e;
  border-color: #dcb819;
  color: #404040;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #dcb819;
}

.btn-success:not(:disabled):not(.disabled):active, 
.btn-success:not(:disabled):not(.disabled).active, 
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #eac41c;
  border-color: #eac41c;
}

.btn-gray {
  background-color: #a7a9ac;
  border-color: #a7a9ac;
  color: #ffffff;
}

.btn-gray:hover {
  background-color: #696b6d;
  border-color: #a7a9ac;
  color: #ffffff;
}

.form-control {
  border: 1px solid #c7c8ca;
}

label {
  margin-bottom: 0 !important;
}

.invalid-feedback {
  font-size: 100% !important;
  color: #c52a39 !important;
}

.modal-title {
  font-weight: 500 !important;
}

.form-group {
  margin-bottom: 10px !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c7c8ca !important;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c7c8ca;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: #c7c8ca;
}

.card-block {
  padding: 20px !important;
}


table td {
  color: #525465 !important;
}