= simple_form_for @notice_type, remote: true do |f|
  .row
    .col-md-12
      = f.input :name, placeholder: 'Digite o tipo de boleto'
  .row
    .col-md-12
      = f.input :status, as: :select, include_blank: 'selecione...'
  %hr
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
