.card
  .card-body.card-header.border-left-yellow
    .card-title
      Tipo: #{@enterprise_company.name}   
  .card-body      
    .index_company_user
      = render 'address/enterprise_company_users/index'