.modal-dialog
  .modal-content
    .modal-header
      %a.close
        %i.fa.fa-close
    .modal-body.text-center
      = image_tag 'checked.png'
      .divider-sm
      %h3 Operação realizada com sucesso!