.modal-dialog
  .modal-content
    .modal-header
      %a.close
        %i.fas.fa-times
    .modal-body.text-center
      = image_tag 'checked.png'
      .mt-5
      %h4
        %b Operação realizada com sucesso!