- if @agenda_situation.errors.any?
  $("#modal .modal-body").html("#{escape_javascript(render 'form')}");

- else
  $(".index-content").html("#{escape_javascript(render 'index')}");
  $(".row-agenda_situation-#{@agenda_situation.id}").addClass('table-success');
  $("#modal").html("#{escape_javascript(render 'layouts/partials/modal_success')}");

update_js();
