.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %h5.modal-title Visualização de entidade
      %a.close
        %i.fa.fa-close
    .modal-body
      %table.table.table-striped.table-bordered
        %thead