.row.mt-4
  .col-md-12
    .card#header.border-left-yellow
      .card-body
        .title Entidade
        .subtitle Detalhamento de entidade
.row.mt-4
  .col-md-2.index-sidebar
    = render 'show_sidebar'
  .col-md-10.index-content
    = render 'show'
