= simple_form_for @cadastre_password, remote: true, url: candidate.cadastre_cadastre_password_path(@cadastre), method: :put do |f|
  = f.input :password, placeholder: "Informe uma nova senha"
  = f.input :password_confirmation, placeholder: "Informe uma nova senha"
  .row.mt-4
    .col-12
      = f.button :submit, class: 'btn btn-success' 