%h6 
  = link_to "<i class='fa fa-plus'></i>".html_safe, "#" 
  Empreendimentos vínculados
%table.table.table-bordered.table-striped.table-celled
  %thead
    %tr
      %th Telefone
      %th Telefone (secundário)
      %th Celular
      %th Email
  %tbody
    %tr
      %td
      %td
      %td
      %td