#login
  .row
    .col-sm-4.mr-auto.ml-auto
      .row
        .col-md-12
          .card
            .card-body
              .row
                .col-md-12.text-center
                  = image_tag 'vertical-marca.png', class: 'img-responsive inline-block', width: '150'
                  .title EXTRANET
              .row.mt-4
                .col-md-12
                  = render 'form'